{% extends "base.html" %}
{% block content %}
<form id="target" action="" method="post" name="GameSearch">
    {{ form.hidden_tag() }}   
</form><div>
<table class="pure-table">
    <thead><tr><th>Record</th><th>Edit</th><th>Game</th><th>Type</th><th>Start</th><th>End</th></tr></thead>
{% for game in games %}
    <tr><td style="display:none;">{{ game.id }}</td><td><i class="fa fa-edit"></i></td><td>{% if game.createdby == current_user.id %}<i class="fa fa-cogs"></i>{% endif %}</td><td><a href="#">{{ game.desc }}</a></td><td>{{ game.type }}</td>
        <td>{{ game.startdate }}</td>
        <td> {{ game.enddate }}</td>
</tr>
{% endfor %}
</table><br>
<table class="pure-table" >
{% if gt.gametype == 1 %}
<thead><tr><th>First</th><th>Last</th><th>Gender</th><th>Division</th>{% for task in tasks %}
<th>{{ task.task }}</th><th>{{ 'After ' + task.task }}</th><th>{{ 'Diff ' +task.task }}</th>
{% endfor %}</tr></thead>
{% for player in huh %}
<tr><td>{{ player.firstname }} </td><td>{{ player.lastname }}</td><td> {{ player.gender }} </td><td>{{ player.division }} </td> 
     {% for l in tasks %}
         <td>{{ player[l.task]}}</td><td>{{ player[l.task + 'a']}}</td><td>{{ player[l.task + 'd']}}</td>
    {% endfor %} </tr> 
{% endfor %}
        
{% elif gt.gametype == 2 %}
<thead><tr><th>First</th><th>Last</th><th>Gender</th><th>Division</th>{% for task in tasks %}
<th>{{ task.task + ' Reported' }}</th><th>{{ task.task + ' Count' }}</th>
{% endfor %}</tr></thead>
{% for player in huh %}
    <tr><td>{{ player.firstname }} </td><td>{{ player.lastname }}</td><td> {{ player.gender }} </td><td>{{ player.division }} </td><td>{{ player.reported}}</td><td>{{ player.reportedcnt}}</td></td></tr>
{% endfor %}

{% else %}
<thead><tr><th>First</th><th>Last</th><th>Gender</th><th>Division</th>{% for task in tasks %}
<th>{{ task.task }}</th>
{% endfor %}</tr></thead>
{% for player in huh %}
<tr><td>{{ player.firstname }} </td><td>{{ player.lastname }}</td><td> {{ player.gender }} </td><td>{{ player.division }} </td>
    {% for l in tasks %}
    <td>{{ player[l.task]}}</td>
   {% endfor %}</tr>
{% endfor %}
{% endif %}
</table></div>
<script>
$(document).ready(function(){ 
$(document).on("click", "a", function() {
   var prevCell = $(this).parent().siblings(":first").text();
   $('#game').val(prevCell);
   $('#edit').val('False');
   $('#alter').val('False');
   $( "#target" ).submit();    
   // do stuff with prevCell
})
$(document).on("click", "i.fa.fa-edit", function() {
   var prevCell = $(this).parent().siblings(":first").text();
   $('#game').val(prevCell);
   $('#edit').val('True');
   $('#alter').val('False');
   $( "#target" ).submit();
})
$(document).on("click", "i.fa.fa-cogs", function() {
   var prevCell = $(this).parent().siblings(":first").text();
   $('#game').val(prevCell);
   $('#edit').val('False');
   $('#alter').val('True');
   $( "#target" ).submit();
})
});
</script>
{% endblock %}